@media only screen and (max-width: 480px) {
  /* line 2, ../common-scss/w8-responsive.scss */
  .hidden-480 {
    display: none !important;
  }
}
@media only screen and (max-width: 320px) {
  /* line 8, ../common-scss/w8-responsive.scss */
  .hidden-320 {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  /* line 14, ../common-scss/w8-responsive.scss */
  .vspace, .vspace-18, .vspace-24, .vspace-36, .vspace-9, .vspace-6, .vspace-3 {
    display: block;
  }
}
@media only screen and (max-width: 320px) {
  /* line 21, ../common-scss/w8-responsive.scss */
  .ace-nav > li > a, .ace-nav > li > span {
    padding: 0 6px !important;
  }
}
@media only screen and (max-width: 250px) {
  /* line 29, ../common-scss/w8-responsive.scss */
  .ace-nav > li > a, .ace-nav > li > span {
    padding: 0 4px !important;
  }
}
@media only screen and (max-width: 767px) {
  /* line 36, ../common-scss/w8-responsive.scss */
  .itemdiv > .body {
    margin-left: 0px;
  }

  /* line 40, ../common-scss/w8-responsive.scss */
  .itemdiv.dialogdiv > .body:before {
    content: initial;
  }

  /* line 45, ../common-scss/w8-responsive.scss */
  .ace-nav > li:nth-child(1) > .dropdown-menu.pull-right {
    right: -80px;
  }
  /* line 47, ../common-scss/w8-responsive.scss */
  .ace-nav > li:nth-child(1) > .dropdown-menu.pull-right:before, .ace-nav > li:nth-child(1) > .dropdown-menu.pull-right:after {
    right: 100px;
  }
  /* line 51, ../common-scss/w8-responsive.scss */
  .ace-nav > li:nth-child(2) > .dropdown-menu.pull-right {
    right: -40px;
  }
  /* line 53, ../common-scss/w8-responsive.scss */
  .ace-nav > li:nth-child(2) > .dropdown-menu.pull-right:before, .ace-nav > li:nth-child(2) > .dropdown-menu.pull-right:after {
    right: 60px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 62, ../common-scss/w8-responsive.scss */
  .ace-nav > li:nth-child(1) > .dropdown-menu.pull-right {
    right: -120px;
  }
  /* line 64, ../common-scss/w8-responsive.scss */
  .ace-nav > li:nth-child(1) > .dropdown-menu.pull-right:before, .ace-nav > li:nth-child(1) > .dropdown-menu.pull-right:after {
    right: 140px;
  }
  /* line 68, ../common-scss/w8-responsive.scss */
  .ace-nav > li:nth-child(2) > .dropdown-menu.pull-right {
    right: -80px;
  }
  /* line 70, ../common-scss/w8-responsive.scss */
  .ace-nav > li:nth-child(2) > .dropdown-menu.pull-right:before, .ace-nav > li:nth-child(2) > .dropdown-menu.pull-right:after {
    right: 100px;
  }
  /* line 74, ../common-scss/w8-responsive.scss */
  .ace-nav > li:nth-child(3) > .dropdown-menu.pull-right {
    right: -50px;
  }
  /* line 76, ../common-scss/w8-responsive.scss */
  .ace-nav > li:nth-child(3) > .dropdown-menu.pull-right:before, .ace-nav > li:nth-child(3) > .dropdown-menu.pull-right:after {
    right: 70px;
  }
}
@media only screen and (max-width: 360px) {
  /* line 85, ../common-scss/w8-responsive.scss */
  .ace-nav > li:nth-child(1) > .dropdown-menu.pull-right {
    left: -5px;
    right: auto;
  }
  /* line 88, ../common-scss/w8-responsive.scss */
  .ace-nav > li:nth-child(1) > .dropdown-menu.pull-right:before, .ace-nav > li:nth-child(1) > .dropdown-menu.pull-right:after {
    right: auto;
    left: 25px;
  }
  /* line 93, ../common-scss/w8-responsive.scss */
  .ace-nav > li:nth-child(2) > .dropdown-menu.pull-right {
    left: -60px;
    right: auto;
  }
  /* line 96, ../common-scss/w8-responsive.scss */
  .ace-nav > li:nth-child(2) > .dropdown-menu.pull-right:before, .ace-nav > li:nth-child(2) > .dropdown-menu.pull-right:after {
    left: 80px;
    right: auto;
  }
  /* line 101, ../common-scss/w8-responsive.scss */
  .ace-nav > li:nth-child(3) > .dropdown-menu.pull-right {
    left: -110px;
    right: auto;
  }
  /* line 104, ../common-scss/w8-responsive.scss */
  .ace-nav > li:nth-child(3) > .dropdown-menu.pull-right:before, .ace-nav > li:nth-child(3) > .dropdown-menu.pull-right:after {
    left: 130px;
    right: auto;
  }
}
@media only screen and (max-width: 422px) {
  /* line 113, ../common-scss/w8-responsive.scss */
  .navbar .brand {
    display: block;
    float: none;
  }

  /* line 117, ../common-scss/w8-responsive.scss */
  .navbar-inverse .navbar-inner {
    border-bottom-width: 0;
  }

  /* line 121, ../common-scss/w8-responsive.scss */
  .ace-nav > li {
    display: inline-block;
    float: none !important;
    text-align: left;
    letter-spacing: normal;
    word-spacing: normal;
  }
  /* line 127, ../common-scss/w8-responsive.scss */
  .ace-nav > li:first-child {
    border-left: 1px solid #DDD;
  }
  /* line 130, ../common-scss/w8-responsive.scss */
  .ace-nav > li:last-child {
    border-right: 1px solid #DDD;
  }
}
@media only screen and (max-width: 260px) {
  /* line 139, ../common-scss/w8-responsive.scss */
  .ace-nav > li:first-child {
    border-left: none;
  }
  /* line 142, ../common-scss/w8-responsive.scss */
  .ace-nav > li:last-child {
    border-right: 0;
  }
}
@media (min-width: 422px) and (max-width: 480px), (max-width: 340px) {
  /* line 149, ../common-scss/w8-responsive.scss */
  #user_menu {
    padding-top: 42px;
  }

  /* line 152, ../common-scss/w8-responsive.scss */
  .ace-nav .nav-user-photo {
    margin-right: 0;
  }

  /* line 155, ../common-scss/w8-responsive.scss */
  #user_info {
    position: absolute;
    margin-top: 40px;
    margin-left: 1px;
    right: 2px;
    z-index: 1001;
    color: #777;
    font-size: 14px;
    width: 142px;
    max-width: 142px;
    padding-left: 8px;
    padding-right: 8px;
    height: 32px;
    line-height: 30px;
    display: none;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    vertical-align: none;
    line-height: normal;
  }
  /* line 174, ../common-scss/w8-responsive.scss */
  #user_info > small {
    display: inline;
    opacity: 1;
  }

  /* line 179, ../common-scss/w8-responsive.scss */
  li.open #user_info {
    display: inline-block;
  }
}
@media only screen and (max-width: 767px) {
  /* line 185, ../common-scss/w8-responsive.scss */
  .fillallheight {
    height: auto;
  }

  /* line 189, ../common-scss/w8-responsive.scss */
  .ace-nav {
    display: block;
    float: none !important;
    text-align: center;
    font-size: 0;
    background-color: #404040;
    word-spacing: -4px;
  }

  /* line 198, ../common-scss/w8-responsive.scss */
  #nav-search {
    right: 5px;
  }

  /* line 201, ../common-scss/w8-responsive.scss */
  #nav-search-input {
    width: 80px;
  }

  /* line 204, ../common-scss/w8-responsive.scss */
  #nav-search:hover #nav-search-input, #nav-search-btn:active + #nav-search-input {
    width: 100px;
  }

  /* line 208, ../common-scss/w8-responsive.scss */
  #nav-search-input:focus, #nav-search-input:hover, #nav-search-input:active {
    width: 100px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 215, ../common-scss/w8-responsive.scss */
  #nav-search-input {
    width: 0;
    opacity: 0;
    max-width: 0;
  }

  /* line 220, ../common-scss/w8-responsive.scss */
  #nav-search:hover #nav-search-input, #nav-search-btn:active + #nav-search-input {
    opacity: 1;
    width: 100px;
    max-width: 100px;
  }

  /* line 226, ../common-scss/w8-responsive.scss */
  #nav-search-input:focus, #nav-search-input:hover, #nav-search-input:active {
    opacity: 1;
    width: 100px;
    max-width: 100px;
  }

  /* line 232, ../common-scss/w8-responsive.scss */
  #nav-search-icon {
    border: 1px solid;
    border-radius: 32px;
    background-color: #FFF;
    padding: 0 5px;
  }

  /* line 238, ../common-scss/w8-responsive.scss */
  #nav-search:hover #nav-search-icon {
    border: 0;
    border-radius: 0;
    padding: 0 3px;
  }

  /* line 244, ../common-scss/w8-responsive.scss */
  #nav-search-input:focus ~ #nav-search-icon, #nav-search-input:hover ~ #nav-search-icon, #nav-search-input:active ~ #nav-search-icon {
    border: 0;
    border-radius: 0;
    padding: 0 3px;
  }
}
@media only screen and (max-width: 979px) {
  /* line 253, ../common-scss/w8-responsive.scss */
  body {
    padding-right: 0;
    padding-left: 0;
  }

  /* line 257, ../common-scss/w8-responsive.scss */
  #page-content {
    padding-left: 5px;
    padding-right: 5px;
  }

  /* line 262, ../common-scss/w8-responsive.scss */
  #menu-toggler {
    display: inline-block;
    position: absolute;
    left: 0;
    z-index: 14;
    height: 20px;
    top: -5px;
    margin-right: 2px;
    line-height: normal;
    padding-left: 33px;
    padding-top: 7px;
    padding-bottom: 1px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #141313;
    color: #f3f3f3;
  }
  /* line 279, ../common-scss/w8-responsive.scss */
  #menu-toggler:hover {
    text-decoration: none;
  }
  /* line 282, ../common-scss/w8-responsive.scss */
  #menu-toggler:before {
    border-top: 1px solid #87b87f;
    border-bottom: 1px solid #6fb3e0;
    height: 2px;
    width: 24px;
    content: "";
    position: absolute;
    z-index: 11;
    top: 13px;
    left: 4px;
    -moz-transition: all .1s ease;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    -ms-transition: all .1s ease;
    transition: all .1s ease;
  }
  /* line 298, ../common-scss/w8-responsive.scss */
  #menu-toggler:after {
    border-top: 1px solid #ffa24d;
    border-bottom: 1px solid #d15b47;
    content: "";
    height: 2px;
    width: 24px;
    position: absolute;
    top: 19px;
    left: 4px;
    -moz-transition: all .1s ease;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    -ms-transition: all .1s ease;
    transition: all .1s ease;
  }
  /* line 314, ../common-scss/w8-responsive.scss */
  #menu-toggler.display:before {
    height: 4px;
    top: 8px;
    border-width: 2px;
  }
  /* line 319, ../common-scss/w8-responsive.scss */
  #menu-toggler.display:after {
    height: 4px;
    top: 20px;
    border-width: 2px;
  }

  /* line 326, ../common-scss/w8-responsive.scss */
  .breadcrumb {
    margin-left: 90px;
  }

  /* line 329, ../common-scss/w8-responsive.scss */
  #breadcrumbs.fixed {
    position: relative;
    left: auto;
    right: auto;
  }
}
@media only screen and (max-width: 480px) {
  /* line 337, ../common-scss/w8-responsive.scss */
  .breadcrumb > li > a {
    padding: 0;
  }
}
@media only screen and (max-width: 320px) {
  /* line 343, ../common-scss/w8-responsive.scss */
  .breadcrumb {
    margin-left: 36px;
  }

  /* line 346, ../common-scss/w8-responsive.scss */
  #menu-toggler {
    width: 0;
  }
  /* line 348, ../common-scss/w8-responsive.scss */
  #menu-toggler > span {
    border-width: 7px 16px;
    bottom: -14px;
  }
  /* line 351, ../common-scss/w8-responsive.scss */
  #menu-toggler > span:after {
    font-size: 9px;
    font-weight: normal;
    color: #FFF;
    position: absolute;
    left: -13px;
    top: -42px;
  }
  /* line 360, ../common-scss/w8-responsive.scss */
  #menu-toggler:before, #menu-toggler:after {
    margin-top: 8px;
  }
  /* line 364, ../common-scss/w8-responsive.scss */
  #menu-toggler.display:before, #menu-toggler.display:after {
    height: 2px;
    border-width: 1px;
  }
  /* line 368, ../common-scss/w8-responsive.scss */
  #menu-toggler.display:before {
    top: 13px;
  }
  /* line 371, ../common-scss/w8-responsive.scss */
  #menu-toggler.display:after {
    top: 19px;
  }
}
@media only screen and (max-width: 979px) {
  /* line 379, ../common-scss/w8-responsive.scss */
  #page-content {
    padding-left: 11px;
    padding-right: 11px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 386, ../common-scss/w8-responsive.scss */
  #page-content {
    padding-left: 7px;
    padding-right: 7px;
  }
}
@media only screen and (max-width: 320px) {
  /* line 393, ../common-scss/w8-responsive.scss */
  #page-content {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media only screen and (max-width: 460px) {
  /* line 400, ../common-scss/w8-responsive.scss */
  .infobox {
    min-width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 408, ../common-scss/w8-responsive.scss */
  .widget-box {
    margin-top: 7px;
    margin-bottom: 7px;
  }
}
@media only screen and (max-width: 420px) {
  /* line 415, ../common-scss/w8-responsive.scss */
  .login-layout .widget-box .widget-main {
    padding: 16px;
  }
}
@media only screen and (max-width: 320px) {
  /* line 421, ../common-scss/w8-responsive.scss */
  .login-layout .widget-box .widget-main {
    padding: 16px 8px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 427, ../common-scss/w8-responsive.scss */
  .login-container {
    width: 98%;
  }

  /* line 430, ../common-scss/w8-responsive.scss */
  .login-layout .widget-box {
    padding: 0;
  }

  /* line 433, ../common-scss/w8-responsive.scss */
  #login-box .toolbar > div {
    width: auto;
  }
}
@media only screen and (max-width: 767px) {
  /* line 439, ../common-scss/w8-responsive.scss */
  .login-layout .widget-box.visible {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
  }
}
@media only screen and (max-width: 767px) {
  /* line 449, ../common-scss/w8-responsive.scss */
  .error-container {
    margin: 12px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 455, ../common-scss/w8-responsive.scss */
  .error-container {
    margin: 6px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 461, ../common-scss/w8-responsive.scss */
  .fc-header td {
    display: block;
    width: auto;
    text-align: left;
  }
}
@media only screen and (max-width: 480px) {
  /* line 469, ../common-scss/w8-responsive.scss */
  .ace-thumbnails {
    text-align: center;
  }
  /* line 471, ../common-scss/w8-responsive.scss */
  .ace-thumbnails > li {
    float: none;
    display: inline-block;
  }
}
@media only screen and (max-width: 360px) {
  /* line 479, ../common-scss/w8-responsive.scss */
  .grid3, .grid4 {
    float: none;
    display: block;
    width: 96%;
    border-right: 0;
    position: relative;
    margin-bottom: 11px;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 4px;
  }

  /* line 489, ../common-scss/w8-responsive.scss */
  .grid3 > [class*="pull-"], .grid4 > [class*="pull-"] {
    float: none !important;
    display: inline-block;
    position: absolute;
    right: 11px;
    top: 0;
    margin-top: 0;
  }

  /* line 497, ../common-scss/w8-responsive.scss */
  .grid3:last-child, .grid4:last-child {
    border-bottom: 0;
  }
}
@media (max-width: 979px) {
  /* line 503, ../common-scss/w8-responsive.scss */
  body.navbar-fixed {
    padding-top: 0;
  }

  /* line 506, ../common-scss/w8-responsive.scss */
  .navbar-fixed-top {
    margin-bottom: 0;
  }
  /* line 508, ../common-scss/w8-responsive.scss */
  .navbar-fixed-top .navbar-inner {
    padding-top: 0;
    padding-bottom: 0;
  }

  /* line 513, ../common-scss/w8-responsive.scss */
  .navbar-fixed-bottom .navbar-inner {
    padding-top: 0;
    padding-bottom: 0;
  }

  /* line 517, ../common-scss/w8-responsive.scss */
  #sidebar.fixed {
    position: absolute;
  }
}
@media only screen and (max-width: 767px) {
  /* line 523, ../common-scss/w8-responsive.scss */
  .help-inline, .input-icon + .help-inline {
    padding-left: 0;
    display: block !important;
  }
}
@media only screen and (max-width: 640px) {
  /* line 531, ../common-scss/w8-responsive.scss */
  .wizard-steps li .step {
    padding: 2px 7px;
    border-width: 3px;
  }
  /* line 535, ../common-scss/w8-responsive.scss */
  .wizard-steps li:before, .wizard-steps li:after {
    border-width: 3px;
  }
  /* line 538, ../common-scss/w8-responsive.scss */
  .wizard-steps li.complete .step:before {
    padding: 5px 4px;
    font-size: 13px;
  }
  /* line 542, ../common-scss/w8-responsive.scss */
  .wizard-steps li:after {
    top: -12px;
  }

  /* line 546, ../common-scss/w8-responsive.scss */
  .step-content .step-pane {
    padding: 4px 4px 6px;
  }
}
@media only screen and (max-width: 400px) {
  /* line 552, ../common-scss/w8-responsive.scss */
  .itemdiv.memberdiv {
    float: none;
    width: auto;
  }
}
@media only screen and (max-width: 979px) {
  /* line 559, ../common-scss/w8-responsive.scss */
  .ace-spinner .spinner-buttons > .btn {
    height: 29px;
    line-height: 20px;
    width: 24px;
    font-size: 18px;
    display: inline-block;
    vertical-align: sub;
  }
  /* line 566, ../common-scss/w8-responsive.scss */
  .ace-spinner .spinner-buttons > .btn > [class*="icon-"] {
    vertical-align: middle;
    display: inline-block;
  }
}
@media only screen and (max-width: 480px) {
  /* line 574, ../common-scss/w8-responsive.scss */
  #ace-settings-container {
    top: 65px;
  }
}
