<!--MENU SHORTCUTS INIT-->
<div id="sidebar-shortcuts">

  <!--MENU ICON SHORTCUTS-LARGE INIT-->
  <div id="sidebar-shortcuts-large">
    <div ng-repeat="short in shortcuts" ttip='short.ttip' url='short.url' btn="short.btn" icon='short.icon' sidebar>
    </div>

  </div>
  <!--MENU ICON SHORTCUTS-LARGE END-->

  <!--MENU ICON SHORTCUTS-MINI INIT-->
  <div id="sidebar-shortcuts-mini" ng-show="toggle">
    <div ng-repeat="short in shortcuts" btn="short.btn" shortcuts></div>
  </div>
  <!--MENU ICON SHORTCUTS-MINI END-->

</div>
<!--MENU SHORTCUTS END-->

<!--MENU INIT-->
<ul class="nav nav-list">
  <li class="active">
  <a href="index.html">
    <i class="icon-list-ul"></i>
    <span>Opciones</span>
  </a>
  </li>

  <li>
  <a href="#/task">
    <i class="icon-text-width"></i>
    <span>Tareas</span>
  </a>
  </li>
  <li>
    <a href="#/form-proyectomtv/projects/create">
      <i class="icon-calendar"></i>
      <span>Crear Proyecto</span>
    </a>
  </li>
  <li>
    <a href="#/crear-proyectomtv/predialcards/create">
      <i class="icon-calendar"></i>
      <span>Ficha Predial</span>
    </a>
  </li>
  <li>
    <a href="#/list-proyectomtv">
      <i class="icon-calendar"></i>
      <span>Listado Proyectos</span>
    </a>
  </li>
</ul>
<!--MENU INIT-->
