
<div id="container-form" ng-controller="CaliopeWebTemplateCtrl" ng-init="initWithRouteParams()">
    <cw-dform cw-dform="jsonPlantillaAngular"/>
</div>

<!--
<div id="container-form">
    <form name="testValidations">
        <label>Requerido</label>
        <input type="text" required="required" name="requerido_" ng-model="requerido_">
        <cw-validation-mess validation-type='required' params='10|20' ng-show="testValidations.requerido_.$error.required"></cw-validation-mess>

        <label>Minlength</label>
        <input type="text" required="required" ng-minlength="10" name="minlength_" ng-model="minlength_">
        <cw-validation-mess validation-type='minlength' params='10' ng-show="testValidations.minlength_.$error.minlength"></cw-validation-mess>

        <label>Maxlength</label>
        <input type="text" required="required" ng-maxlength="20" name="maxlength_" ng-model="maxlength_">
        <cw-validation-mess validation-type='maxlength' params='20' ng-show="testValidations.maxlength_.$error.maxlength"></cw-validation-mess>

        <label>Number-min</label>
        <input type="number" min="0" name="min_" ng-model="min_">
        <cw-validation-mess validation-type='min' params='0' ng-show="testValidations.min_.$error.min"></cw-validation-mess>

        <label>Number-max</label>
        <input type="number" max="10" name="max_" ng-model="max_">
        <cw-validation-mess validation-type='max' params='10' ng-show="testValidations.max_.$error.max"></cw-validation-mess>
    </form>
</div>
-->
