<!-- MENU-RIGHT INIT-->
<div id="sidebar" ng-controller='menuRightController' ng-init='toogle=false'  ng-class="{true:'menu-min', false:''}[toggle]" class="display">

  <div ng-include src="'menu-right/partial-menu-right.html'"></div>

  <!--ACTION COLLAPSE INIT -->
  <div id="sidebar-collapse" ng-click='toggle = !toggle' ng-model="toggle">
    <i class="icon-double-angle-left"></i>
  </div>
  <!--ACTION COLLAPSE END -->

</div>
<!-- MENU-RIGHT END-->

<!-- MAIN-CONTENT INIT-->
<div id="main-content" class="clearfix">
  <div id="page-content" class="clearfix">
    <div class="row-fluid">
      <!--PAGE CONTENT INIT-->
      <ng-view class='fillallheight'/>
      <!--PAGE CONTENT END-->
    </div>
  </div>
</div>
<!-- MAIN-CONTENT END-->
