<div class="widget-header" data-drag="true" data-jqyoui-options="{revert: 'invalid'}"  ng-model="obj.task" jqyoui-draggable="{index: {{$index}},animate:true}">
  <h6>{{item.description}}</h6>
  <div ng-show='log'  class="lbl widget-toolbar no-border" ng-init="showSubtasks=false">
    <span class="text-info" ng-click="showSubtasks=!showSubtasks">
      <i class="icon-double-angle-down" ng-show="showSubtasks==false" ></i>
      <i class="icon-double-angle-up" ng-show="showSubtasks==true"></i>
    </span>
    <widget-task title="" parent="item.uuid" category="{{obj.category}}"></widget-task>
    <span class="text-info" ng-click="editTask(item.uuid, obj.category)">
      <i class="icon-circle-arrow-down"></i>
    </span>
    <span class="text-error"  ng-click="deleteTask(item.uuid)">
      <i class="icon-remove-sign"></i>
    </span>
  </div>
</div>
<input type="checkbox" ng-model="showSubtasks">
<div>
  <ul class="item-list">
    <li class="item" ng-repeat="item in item.tasks" ng-mouseover="log = true" ng-mouseleave="log = false"
        ng-init="log = false" >
      <div ng-include="'task/partial-task.html'"></div>
    </li>
  </ul>
</div>