@import "compass";

.ng-hide {
  display:block!important;
  //this is just another form of hiding an element
  position:absolute;
  top:-9999px;
  left:-9999px;
}

.sticky-note {
  border: 1px solid #ffb366;
  background: #FFFFCC;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  font-size: 12px;
}

.item-list input ~ div > ul {
  display: none;
}

.item-list input:checked ~ div > ul {
  display: block;
}

.boxDrop{
  min-height: 30px;
}

[class*=" icon-"], [class^="icon-"] {
  cursor: pointer;
}

$borKanba: 12px;

.widget-box-kanban {
  @include border-radius($borKanba);
  @include background-image(linear-gradient(white, #e9e3a5));
  margin: 3px 0;
  border-bottom: 1px solid #CCC;
}

.widget-header-kanban {
  @include border-top-left-radius($borKanba);
  @include border-top-right-radius($borKanba);
  position: relative;
  min-height: 38px;
  border: solid #CCC;
  border-bottom: 0px;
  border-width: 1px 1px 0 1px;
  padding-left: 12px;
  text-align: right;
  > :first-child {
    line-height: 36px;
    padding: 0;
    margin: 0;
    float: left;
    text-align: left;
  }

  h5{
    font-weight: bold;
  }
}

.widget-header-small-kanban {
  min-height: 25px;
  padding: 10px 23px 5px 23px;
}

.widget-body-kanban {
  @include border-bottom-radius($borKanba);
  border: 1px solid #CCC;
  border-top: 0;
  border-bottom: 0;
}

.task-header-kanban {
  @include border-radius($borKanba / 2);
  @include box-shadow(rgba(202, 202, 211, 0.8) 1px 2px 1px);
  margin-bottom: 10px;
  position: relative;
  min-height: 26px;
  border: 1px solid #CCC;
  background-color: #ffffff;
  padding: 0px 15px 7px 15px;
  text-align: right;
  > :hover { cursor: move; }

  li {
    text-align: left;
  }

  form{
    padding-right: 7px;
  }

  > :first-child {

    line-height: 33px;
    max-height: 36px;
    height: 36px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    float: left;
    text-align: left;
    overflow: hidden;
  }

  input{
    width: 80%; 
  }
}

.blockInline-subtask {
  display: inline;
  span {
    display: inline;
    i {
      display: inline;
    }
    h5{
      display: inline;
    }
  }
  h6{
    margin-top: 6px;
    display: inline;
  }
}

.widget-toolbar-kanban {
  display: inline-block;
  padding: 0 6px;
  position: relative;
  text-align: left;
  margin-top: 6px;
  font-size: 1.2em;

  [class*=" icon-"], [class^="icon-"] {
    padding-left: 6px;
  }

  .task-header-kanban & {
    position: absolute;
    right: 7px;
    top: 1px;
    background-color: white;
  }
}

.tab-content-kanban {
  display: block;
  margin-top: 5px;
  clear: both;
}

/*2.4*/
/*119879,99*/
