<div class="row-fluid" ng-controller="kanbanBoardCtrl">
  <div class="span4" ng-repeat="obj in data" ng-model="obj.tasks" data-drop="true" data-jqyoui-options="{accept:'.task-header-kanban'}" jqyoui-droppable="{multiple:true, onDrop:'dropCallback'}">
    <div class="widget-box-kanban">
      <div class="widget-header-kanban widget-header-small-kanban">
        <h5>{{obj.category}}</h5>
        <div class="widget-toolbar-kanban no-border">
          <widget-task title="" parent="" category="{{obj.category}}"></widget-task>
        </div>
      </div>
      <div class="widget-body-kanban" >
        <div class="widget-main">
          <div class="boxDrop" >
            <div class="task-header-kanban" ng-init="showSubtasks=false"  uuid="{{item.uuid}}" ng-show='item.uuid'  ng-repeat="item in obj.tasks" data-drag="true" ng-init="log=false" ng-mouseover="log=true" ng-mouseleave="log=false" data-jqyoui-options="{revert: 'invalid'}"  ng-model='obj.tasks' jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'startCallback'}">

              <h6>{{item.descripcion.value}}</h6>

              <div ng-show='log' class="lbl widget-toolbar-kanban no-border" >

                  <span class="text-info" ng-click="showSubtasks=!showSubtasks">
                    <i class="icon-double-angle-down" ng-show="showSubtasks==false" ></i>
                    <i class="icon-double-angle-up" ng-show="showSubtasks==true"></i>
                  </span>

                  <span class="text-info" ng-click="editTask(item.uuid, obj.category)">
                    <i class="icon-edit"></i>
                  </span>

                  <span class="text-error"  ng-click="deleteTask(item.uuid)">
                    <i class="icon-trash"></i>
                  </span>

              </div>
              <ng-include src="'task/partial-subtasks.html'"></ng-include>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
