@import "compass";

.ng-hide {
  display:none!important;
  //this is just another form of hiding an element
  position:absolute;
  top:-9999px;
  left:-9999px;
}

//animation infinita
.infianime{
  @include transition-duration(40s);
  @include transition-delay(39s);
  $animation-support: webkit, moz, o, ms, not khtml;
  @include experimental('animation-iteration-count', infinite, $animation-support);
}

.proyecFilter {
  float: right;
  & button {
    height: 30px;
  }
}

.sticky-note {
  border: 1px solid #ffb366;
  background: #FFFFCC;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  font-size: 12px;
}

.item-list input ~ div > ul {
  display: none;
}

.item-list input:checked ~ div > ul {
  display: block;
}

.boxDrop{
  min-height: 30px;
}

[class*=" icon-"], [class^="icon-"] {
  cursor: pointer;
}

$borKanba: 12px;

.widget-box-kanban {
  @include border-radius($borKanba);
  @include background-image(linear-gradient(#F4F4F4, rgba(247, 247, 247, 0.6)));
  margin: 3px 0;
  padding-bottom: 42px ;

}

.widget-header-kanban {
  @include border-top-left-radius($borKanba);
  @include border-top-right-radius($borKanba);
  position: relative;
  min-height: 38px;
  border: solid #FFF;
  border-bottom: 0px;
  border-width: 1px 1px 0 1px;
  padding-left: 12px;
  text-align: right;
  > :first-child {
    line-height: 36px;
    padding: 0;
    margin: 0;
    float: left;
    text-align: left;
  }

  h5{
    font-weight: bold;
  }
}

.notification {
  background-color: rgb(225, 255, 147)!important;
}

.widget-header-small-kanban {
  min-height: 25px;
  padding: 10px 23px 5px 23px;
}

.widget-body-kanban {
  @include border-bottom-radius($borKanba);
  border: 1px solid #FFF;
  border-top: 0;
  border-bottom: 0;
  margin-bottom: -42px;
}

.task-header-kanban {
  @include border-radius($borKanba / 2);
  @include box-shadow(rgba(202, 202, 211, 0.8) 1px 2px 1px);
  margin-bottom: 10px;
  position: relative;
  min-height: 26px;
  border: 1px solid #CCC;
  background-color: #ffffff;
  padding: 0px 11px 7px 11px;
  font-size: small;
  > :hover { cursor: move; }

  & .nav-user-photo {
    margin: -4px 10px 0 0;
    border-radius: 24px;
    border: 2px solid #FFF;
    max-width: 24px !important;
    &:hover {
      border-radius: 50px;
      z-index: 1;
      max-width: 50px !important;
    }
  }

  li {
    text-align: left;
    label {
      font-size: small;
      font-weight: normal;
    }
  }

  > :first-child {
    line-height: 33px;
    max-height: 36px;
    height: 36px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    float: left;
    text-align: left;
    overflow: hidden;
  }

  .input-prepend{
    text-align: right;
  }
  form input[type="text"]{
    margin-bottom: 0px;
  }
}

.widget-toolbar-kanban {
  display: inline-block;
  padding: 0 6px;
  position: relative;
  text-align: left;
  margin-top: 6px;

  [class*=" icon-"], [class^="icon-"] {
    padding-left: 6px;
  }

  .task-header-kanban & {
    position: absolute;
    right: 7px;
    padding: 0px;
    margin: 0px;

    [class*=" icon-"], [class^="icon-"] {
      padding-left: 5px;
      padding-top: 9px;
      padding-right: 5px;
      padding-bottom: 9px;
    }
  }

  span{
    margin: 3px;
    padding: 3px;
    &:last-child{
      padding-right: 0px;
    }
  }
  .input-append {
    overflow: hidden;
  }
}

.widget-toolbar-kanban-form {
  @extend .widget-toolbar-kanban;
  display: compact;
  position: absolute;
  right: 5px;
  font-size: 1.6em;
}

.blockInline-subtask {
  display: inline;

  span {
    display: inline;
    i {
      display: inline;
    }
    h5{
      display: inline;
    }
  }

  h6{
    margin-top: 6px;
    display: inline;
  }
}

.task-header {
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 100;
}

.tab-content-kanban {
  display: block;
  margin-top: 5px;
  clear: both;
  font-size: smaller;

}
