<div ng-controller="treeCtrl" class="row-fluid fillallheight">
  <div class="page-header span12">
    <div class="span6">
      <h1>
       Arbol del proyecto
      </h1>
    </div>
    <div class="span6">
      <widget-Context></widget-Context>
    </div>
  </div>
  <div class="span12">
    <div class="span6">
      <accordion close-others="true">
        <accordion-group heading="{{project.classname}}" ng-repeat="project in data">
          {{project.data}}
        </accordion-group>
      </accordion>
    </div>
    <div class="span6">

      <div class="row">
        <div class="btn-group">
          <button class="btn btn-small" ng-click="gotoPage(1)">|&lt;</button>
          <button class="btn btn-small" ng-click="prevPage()">&lt;</button>
          <button class="btn btn-small" ng-click="nextPage()">&gt;</button>
          <button class="btn btn-small" ng-click="gotoPage(totalPages)">&gt;|</button>
        </div>
      </div>
      <div class="row">
        <span class="label" ng-show="totalPages">{{currentPage}}/{{totalPages}}</span>
      </div>
      <div class="row">
        
        <pdfviewer src="{{pdfURL}}" on-page-load='pageLoaded(page,total)' id="viewer" load-progress='loadProgress(loaded, total, state)'></pdfviewer>
      </div>

    </div>
  </div>
  {{text}}
</div>
