<div ng-controller="treeCtrl" class="row-fluid">
  <div class="page-header span12">
    <div class="span6">
      <h1>
       Arbol del proyecto
      </h1>
    </div>
    <div class="span6">
      <widget-Context></widget-Context>
    </div>
  </div>
  <div class="row-flow">
    <div class="span4">
      <accordion close-others="true">
      <accordion-group ng-repeat="project in data">
        <accordion-heading>{{$index}} - {{project.classname}}</accordion-heading>
              <button class="btn btn-mini btn-info" ng-click="showLink('form', $index)"> Contenido</button>
              <button class="btn btn-mini btn-warning" ng-click="showHistory($index)"> Historico</button>
              <button class="btn btn-mini btn-inverse" ng-click="showAttach($index)">  Adjuntos </button>
              <br/>
              <pre>{{history}}</pre>
        </accordion-group>
      </accordion>
    </div>
    <div class="span8 preview">
      <div id="tree-left"></div>
      <div id="tree-right"></div>
      <div id="tree-top"></div>
      <div id="tree-bottom"></div>
      <div id="tree-shadow"></div>
      <div id="tree-shadow2"></div>

      <div class='previewselect' ng-switch="itemattach">
        <!--IMG -->
        <div ng-switch-when="img">

        </div>
        <!--IMG -->
        <div ng-switch-when="pdf">

          <div class="row">
            <div class="btn-group">
              <button class="btn btn-mini" ng-click="gotoPage(1)">|&lt;</button>
              <button class="btn btn-mini" ng-click="prevPage()">&lt;</button>
              <button class="btn btn-mini" ng-click="nextPage()">&gt;</button>
              <button class="btn btn-mini" ng-click="gotoPage(totalPages)">&gt;|</button>
            </div>

          </div>
          <div class="row">
            <span class="label" ng-show="totalPages">{{currentPage}}/{{totalPages}}</span>
          </div>
          <div class="row">
            <pdfviewer src="{{pdfURL}}" on-page-load='pageLoaded(page,total)' id="viewer" load-progress='loadProgress(loaded, total, state)'></pdfviewer>
          </div>

        </div>
        <div ng-switch-when="form">
          <cw-dform class="cwdform" name="{{form.name}}" cw-dform="{{form.templateName}}"  mode="{{form.mode}}" entity="{{form.entity}}" uuid="{{form.uuid}}" generic="{{form.generic}}" inner="false" from-routeparams="false" enc-uuid="false" init="false"></cw-dform>
        </div>

        <div ng-switch-default>
          <div id='preview'>
            <div id="previewfilldiv">
              <img src='../common-img/caliope.png'>
              <div id='previewText'> Preview </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
