<div ng-controller="treeCtrl" class="row-fluid">
  <div class="page-header span12">
    <div class="span6">
      <h1>
       Arbol del proyecto
      </h1>
    </div>
    <div class="span6">
      <widget-Context></widget-Context>
    </div>
  </div>
  <div class="row-flow">
    <div class="span4">
      <fieldset>
        <label>Filtrar documentos</label>
        <div class="controls controls-row">
          <input class="span6" type="text" placeholder="seleccion de formulario" ng-model="filterForms.classname" >
          <input class="span6" type="text" placeholder="Todos los campos" ng-model="filterForms.$">
        </div>
      </fieldset>
      <accordion class='boderaccordion' close-others="true">
        <accordion-group ng-repeat="project in data | filter:filterForms">
          <accordion-heading>
            {{$index}}
            <span class="badge badge-info">
              {{project.classname}}
            </span>
            <div class='inline' ng-if="project.filter">
              <span tooltip="{{newtags.name}}"  class="badge" tooltip-placement="right"
                ng-repeat="newtags in project.filter">
                {{newtags.content | htmlToPlaintext}}
              </span>
            </div>
          </accordion-heading>
          <button class="btn btn-link btn-primary" ng-click="showLink('form', project, $index)"> Contenido </button>
          <button class="btn btn-link btn-inverse" ng-click="showHistory($index)"> Historico </button>
          <button class="btn btn-link btn-info" ng-click="showAttach($index)" ng-if="project.attachments && !project.attachments.show" > Adjunto </button>

          <ul class="item-list" ng-if="project.attachments.show">
            <li ng-click="showLink('attach', project, $index)" ng-repeat="attach in project.attachments">
              <img ng-if="!attach.thumbnail.data" src="../common-img/caliopethumbs.png" alt="">
              <img ng-if ="attach.thumbnail.data" ng-src="data:image/png;base64,{{attach.thumbnail.data}}" alt="">
              <a  href="">{{attach.name}} - {{attach.size}}</a>
            </li>
          </ul>

          <div>{{project.history}}</div>

          <br/>
        </accordion-group>
      </accordion>
    </div>

    <div class="span8 preview">
      <div id="tree-left"></div>
      <div id="tree-right"></div>
      <div id="tree-top"></div>
      <div id="tree-bottom"></div>
      <div id="tree-shadow"></div>
      <div id="tree-shadow2"></div>

      <div class='previewselect' ng-switch="itemattach">
        <!--IMG -->
        <div ng-switch-when="image">
          <img ng-src="data:image/png;base64,{{imgdata}}">
        </div>
        <!--IMG -->

        <!--PDF -->
        <div ng-switch-when="pdf">
            <div class="btn-group">
              <button class="btn btn-mini" ng-click="gotoPage(1)">|&lt;</button>
              <button class="btn btn-mini" ng-click="prevPage()">&lt;</button>
              <button class="btn btn-mini" ng-click="nextPage()">&gt;</button>
              <button class="btn btn-mini" ng-click="gotoPage(totalPages)">&gt;|</button>
            </div>
            <span class="label" ng-show="totalPages">{{currentPage}}/{{totalPages}}</span>
            <pdfviewer src="{{pdfURL}}" on-page-load='pageLoaded(page,total)' id="viewer" load-progress='loadProgress(loaded, total, state)'></pdfviewer>
        </div>
        <!--PDF -->

        <!--FORM -->
        <div ng-switch-when="form">
          <cw-dform class="cwdform" name="{{form.name}}" cw-dform="{{form.templateName}}"  mode="{{form.mode}}" entity="{{form.entity}}" uuid="{{form.uuid}}" generic="{{form.generic}}" inner="false" from-routeparams="false" enc-uuid="false" init="false"></cw-dform>
        </div>
        <!--FORM -->

        <!--HIST -->
        <div ng-switch-when="hist">
          <div class="widget-main no-padding">
            <div class="dialogs">

              <div class="itemdiv dialogdiv" ng-repeat="hist in history">
                <div class="user">
                  <img alt="{{hist.change_info.username}}" ng-src="data:image/png;base64, {{hist.change_info.image || 'R0lGODlhAQABAIAAAP7//wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='}}">
                </div>
                <div class="body">
                  <div class="time">
                    <i class="icon-time"></i>
                    <span class="green">{{hist.date | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
                  </div>
                  <div class="name">
                    <a href="#">{{hist.change_info.name}}</a>
                  </div>
                  <div class="text">
                    <table class="table table-hover">
                      <tbody>
                        <tr ng-if='$first'>
                          <th>Removed</th>
                          <th>Changed</th>
                          <th>added</th>
                        </tr>
                        <tr>
                          <td >
                            <ul class="list-inline">
                              <li ng-repeat="(kremo,vremo) in hist.changed.removed">
                                <b>{{kremo}}</b>: {{vremo}}
                              </li>
                            </ul>
                          </td>

                          <td >
                            <ul class="list-inline">
                              <li ng-repeat="(kremo,vremo) in hist.changed.added">
                                <b>{{kremo}}</b>: {{vremo}}
                              </li>
                            </ul>
                          </td>

                          <td >
                            <ul class="list-inline">
                              <li ng-repeat="(kremo,vremo) in hist.changed.changed">
                                <b>{{kremo}}</b>: {{vremo}}
                              </li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!--HIST -->

        <!--DEFAULT -->
        <div ng-switch-default>
          <div id='preview'>
            <div id="previewfilldiv">
              <img src='../common-img/caliope.png'>
              <div id='previewText'> Preview </div>
            </div>
          </div>
        </div>
        <!--DEFAULT -->
      </div>
    </div>
  </div>
</div>
