<li class="orange user-profile">
<a data-toggle="dropdown" class="dropdown-toggle" ng-click="openDialog()" href="#">
  <img class="nav-user-photo" ng-show="isAuthenticated()" src="data:image/png;base64, {{currentUser.image || 'R0lGODlhAQABAIAAAP7//wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='}}">
  <span ng-hide="isAuthenticated()" class="badge-transparent" ng-click="login()">Ingresar</span>
  <span id="user_info" ng-show="isAuthenticated()">
    {{currentUser.first_name}} {{currentUser.last_name}}
 </span>
  <span ng-show="isAuthenticated()" ><i class="icon-caret-down" ></i></span>
</a>

<ul ng-show="isAuthenticated()" class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer" id="user_menu">
  <li>
  <a href="#">
    <i class="icon-cog"></i>
    Settings
  </a>
  </li>

  <li>
  <a href="#">
    <i class="icon-user"></i>
    Perfil
  </a>
  </li>

  <li class="divider"></li>

  <li>
  <a ng-click="logout()"href="#">
    <i class="icon-off"></i>
    Salir
  </a>
  </li>
</ul>
</li>
