  <!-- ALERT INIT-->
  <div class="menu_top_message_alert">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
  </div>
  <!-- ALERT END-->

<div class="navbar-inner">

<div class="row-fluid" >

  <!-- BRAND INIT-->
  <div class="span1">
    <div class="nav ace-nav pull-right">
      <a href="#" class="brand">
        <small>
          SIMM
        </small>
      </a>
    </div>
  </div>
  <!-- BRAND END-->

  <div class="span7">
    <div class="nav ace-nav pull-right" id="breadcrumbs" ng-show="isAuthenticated()">
      <!-- BREADCRUMBS INIT-->
      <!--
      <ul class="breadcrumb">
        <li>
        <i class="icon-home"></i>
        <a href="#">Incio</a>
        <span class="divider">
          <i class="icon-angle-right"></i>
        </span>
        </li>
        <li ng-repeat="breadcrumb in breadcrumbs.getAll()">
        <span class="divider">/</span>
        <ng-switch on="$last">
        <span class="active" ng-switch-when="true">{{breadcrumb.name}}</span>
        <span ng-switch-default><a href="{{breadcrumb.path}}">{{breadcrumb.name}}</a></span>
        </ng-switch>
        </li>
      </ul> -->
      <!-- BREADCRUMBS END-->

      <!-- NAV-SEARCH INIT-->
      <div id="nav-search">
        <form class="form-search">
          <span class="input-icon">
            <input type="text" placeholder="Busca algo divertido ..." class="input-small search-query" id="nav-search-input" autocomplete="off" />
            <i class="icon-search" id="nav-search-icon"></i>
          </span>
        </form>
      </div>
      <!-- NAV-SEARCH END-->
    </div>
  </div>

  <div class="span4">
    <ul class="nav ace-nav pull-right">
      <li class="grey" ng-show="isAuthenticated()" >
      <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="icon-tasks"></i>
        <span class="badge badge-grey">4</span>
      </a>

      <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
        <li class="nav-header">
        <i class="icon-ok"></i>
        4 Tasks to complete
        </li>
        <li>
        <a href="#">
          <div class="clearfix">
            <span class="pull-left">Software Update</span>
            <span class="pull-right">65%</span>
          </div>

          <div class="progress progress-mini ">
            <div style="width:65%" class="bar"></div>
          </div>
        </a>
        </li>

        <li>
        <a href="#">
          <div class="clearfix">
            <span class="pull-left">Hardware Upgrade</span>
            <span class="pull-right">35%</span>
          </div>

          <div class="progress progress-mini progress-danger">
            <div style="width:35%" class="bar"></div>
          </div>
        </a>
        </li>

        <li>
        <a href="#">
          <div class="clearfix">
            <span class="pull-left">Unit Testing</span>
            <span class="pull-right">15%</span>
          </div>

          <div class="progress progress-mini progress-warning">
            <div style="width:15%" class="bar"></div>
          </div>
        </a>
        </li>

        <li>
        <a href="#">
          <div class="clearfix">
            <span class="pull-left">Bug Fixes</span>
            <span class="pull-right">90%</span>
          </div>

          <div class="progress progress-mini progress-success progress-striped active">
            <div style="width:90%" class="bar"></div>
          </div>
        </a>
        </li>

        <li>
        <a href="#">
          See tasks with details
          <i class="icon-arrow-right"></i>
        </a>
        </li>
      </ul>
      </li>

      <li class="purple" ng-show="isAuthenticated()" >
      <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="icon-bell-alt icon-only icon-animated-bell"></i>
        <span class="badge badge-important">8</span>
      </a>

      <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-closer">
        <li class="nav-header">
        <i class="icon-warning-sign"></i>
        8 Notifications
        </li>

        <li>
        <a href="#">
          <div class="clearfix">
            <span class="pull-left">
              <i class="btn btn-mini no-hover btn-pink icon-comment"></i>
              New Comments
            </span>
            <span class="pull-right badge badge-info">+12</span>
          </div>
        </a>
        </li>

        <li>
        <a href="#">
          <i class="btn btn-mini btn-primary icon-user"></i>
          Bob just signed up as an editor ...
        </a>
        </li>

        <li>
        <a href="#">
          <div class="clearfix">
            <span class="pull-left">
              <i class="btn btn-mini no-hover btn-success icon-shopping-cart"></i>
              New Orders
            </span>
            <span class="pull-right badge badge-success">+8</span>
          </div>
        </a>
        </li>

        <li>
        <a href="#">
          <div class="clearfix">
            <span class="pull-left">
              <i class="btn btn-mini no-hover btn-info icon-twitter"></i>
              Followers
            </span>
            <span class="pull-right badge badge-info">+11</span>
          </div>
        </a>
        </li>

        <li>
        <a href="#">
          See all notifications
          <i class="icon-arrow-right"></i>
        </a>
        </li>
      </ul>
      </li>

      <li class="green" ng-show="isAuthenticated()" >
      <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="icon-envelope-alt icon-only icon-animated-vertical"></i>
        <span class="badge badge-success">5</span>
      </a>

      <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
        <li class="nav-header">
        <i class="icon-envelope"></i>
        5 Messages
        </li>

        <li>
        <a href="#">
          <span class="msg-body">
            <span class="msg-title">
              <span class="blue">Alex:</span>
              Ciao sociis natoque penatibus et auctor ...
            </span>

            <span class="msg-time">
              <i class="icon-time"></i>
              <span>a moment ago</span>
            </span>
          </span>
        </a>
        </li>

        <li>
        <a href="#">
          <span class="msg-body">
            <span class="msg-title">
              <span class="blue">Susan:</span>
              Vestibulum id ligula porta felis euismod ...
            </span>

            <span class="msg-time">
              <i class="icon-time"></i>
              <span>20 minutes ago</span>
            </span>
          </span>
        </a>
        </li>

        <li>
        <a href="#">
          <span class="msg-body">
            <span class="msg-title">
              <span class="blue">Bob:</span>
              Nullam quis risus eget urna mollis ornare ...
            </span>

            <span class="msg-time">
              <i class="icon-time"></i>
              <span>3:15 pm</span>
            </span>
          </span>
        </a>
        </li>

        <li>
        <a href="#">
          See all messages
          <i class="icon-arrow-right"></i>
        </a>
        </li>
      </ul>
      </li>

      <login-toolbar></login-toolbar>

    </ul><!--/.w8-nav-->
  </div><!--/.container-fluid-->
  </div>
</div><!--/.navbar-inner-->
