<div class="row-fluid container">
  <div class="span12" well>
    <div class="row-fluid">
      <div class="span6">
        <span class="fileinput-button">
          <button class="btn btn btn-small btn-warning">Selecciona archivos... <i class="icon-paper-clip"></i></button>
          <input id="fileupload" type="file" name="files[]" multiple>
        </span>
      </div>
      <div class="span6">
        <div id="progress" class="progress progress-success progress-striped">
          <div class="bar"></div>
        </div>
      </div>
    </div>

    <ul class="item-list">
      <li ng-repeat="data in filelist track by $index">
        <img ng-src="data:image/png;base64, {{data.thumbnail.data}}"></img> {{data.name}} - {{data.size}}
        <div class="no-border animated pulse widget-toolbar-attachment">
          <span ng-click="deleteFile(data)">
            <i tooltip="Eliminar" class="icon-trash"></i>
          </span>
        </div>
      </li>
    </ul>

  </div>
</div>

