input.ng-invalid.ng-dirty {
  background-color: #FA787E;
}
input.ng-valid.ng-dirty {
  background-color: #78FA89;
}

/*.cw-valid-msg {*/

/*}*/

/*span.cw-valid-msg-ok, span.cw-valid-msg-ko {*/
  /*display:none;*/
  /*float: right;*/
  /*font-size:36px;*/
  /*margin-top: -12px;*/
/*}*/

/*// ng-dirty: When the user has already modified the form.*/
/*// ng-valid: When the form passes the validation.*/
/*.ng-dirty.ng-valid {*/
  /*border:1px solid Green;*/
/*}*/
/*// When the form has the two class.*/
/*//ng-dirty: When the user has already modified the form.*/
/*// ng-valid: When the form doesn't pass the validation.*/
/*.ng-dirty.ng-invalid {*/
  /*border:1px solid Red;*/
/*}*/

// When the form has the two class over span that containts the msg ok
.ng-dirty.ng-valid ~ span.cw-valid-msg-ok {
  color:green;
  display:inline;
}

/*// When the form has the two class over span that containts the msg error*/
.ng-dirty.ng-invalid ~ span.cw-valid-msg-ko {
  color:red;
  display:inline;
}

#container-form {
    padding: 19px 29px 29px;
    overflow: auto;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}


/* //INIT ui-multicombo directive*/
/* Based on Chosen */

/* @group Base */
.mcombo-container {
    font-size: 13px;
    position: relative;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.mcombo-container-active .mcombo-drop {
    background: #fff;
    border: 1px solid #aaa;
    border-top: 0;
    left: 0;
    -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
    -moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15);
    -o-box-shadow     : 0 4px 5px rgba(0,0,0,.15);
    box-shadow        : 0 4px 5px rgba(0,0,0,.15);
    z-index: 1010;
    width: 100%;
}
/* @end */

/* @group Multi Chosen */
.mcombo-container-multi .mcombo-selected-choices {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    border: 1px solid #aaa;
    margin: 0;
    padding: 0;
    cursor: text;
    overflow: hidden;
    height: auto !important;
    height: 1%;
    position: relative;
    width: 100%;
}
.mcombo-container-multi .mcombo-selected-choices li {
    float: left;
    list-style: none;
}
.mcombo-container-multi .mcombo-selected-choices .search-field {
    white-space: nowrap;
    margin: 0;
    padding: 0;
}
.mcombo-container-multi .mcombo-selected-choices .search-field input {
    color: #666;
    background: transparent !important;
    border: 0 !important;
    font-family: sans-serif;
    font-size: 100%;
    height: 15px;
    padding: 5px;
    margin: 1px 0;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow   : none;
    -o-box-shadow     : none;
    box-shadow        : none;
}
.mcombo-container-multi .mcombo-selected-choices .search-field .default {
    color: #999;
}
.mcombo-container-multi .mcombo-selected-choices .selected-choice {
    -webkit-border-radius: 3px;
    -moz-border-radius   : 3px;
    border-radius        : 3px;
    -moz-background-clip   : padding;
    -webkit-background-clip: padding-box;
    background-clip        : padding-box;
    -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
    -moz-box-shadow   : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
    box-shadow        : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
    color: #333;
    border: 1px solid #aaaaaa;
    line-height: 13px;
    padding: 3px 20px 3px 5px;
    margin: 3px 0 3px 5px;
    position: relative;
    cursor: default;
}

.mcombo-container-multi .mcombo-selected-choices .selected-choice .selected-choice-delete:hover {
    background-position: right -11px;
}

/* @end */

/* @group Results */
.mcombo-container .choices {
    margin: 0 4px 4px 0;
    max-height: 240px;
    padding-top: 3px;
    padding-bottom: 3px;

    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.mcombo-container-multi .choices {
    margin: -1px 0 0;
    padding: 10px 2px;
}
.mcombo-container .choices li {
    display: none;
    line-height: 15px;
    margin: 0;
    list-style: none;
}

.mcombo-container-multi .mcombo-selected-choices .selected-choice .selected-choice-delete {
  display: block;
  position: absolute;
  right: 3px;
  top: 4px;
  width: 12px;
  height: 13px;
  font-size: 12px;
  color: rgb(0, 111, 4);
}


.mcombo-container-active .choices li {
    display: block;
}

.mcombo-container-active .choices hr {
  border: 0;
  border-top: 1px solid;
  margin-bottom: 6px;
  margin: 7px 0px 4px 0px;
  border-color: rgb(224, 224, 224);
}

.mcombo-container-active .choices li .msg-photo {
  margin-right: 6px;
  max-width: 42px;
}
.mcombo-container .choices li.item:hover {
    background-color: #3875d7;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0 );
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
    background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
    background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
    background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
    background-image: -ms-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
    background-image: linear-gradient(top, #3875d7 20%, #2a62bc 90%);
    color: #fff;
}
.mcombo-container .choices li em {
    background: #feffde;
    font-style: normal;
}
.mcombo-container .choices .no-results {
    background: #f4f4f4;
    display: list-item;
}
.mcombo-container-active .mcombo-selected-choices {
    border: 1px solid #5897fb;
    postion: relative;
}
.mcombo-container-active .mcombo-selected-choices .search-field input {
    color: #111 !important;
}
/* @end */

/* @group Disabled Support */
/*.chzn-disabled {
    cursor: default;
    opacity:0.5 !important;
}
.chzn-disabled .chzn-single {
    cursor: default;
}
.chzn-disabled .mcombo-selected-choices .selected-choice .selected-choice-delete {
    cursor: default;
}*/
/* //END  ui-multicombo directive*/
.calendar{

}
.calendar .btn {
  padding: 0 5px;
  line-height: 22px;
  border-width: 2px;
  font-size: 12px;
}

.calendar th {
  font-size: 10px;
}

.calendar td > em {
  font-size: 10px;
}