footer {
  background     : #000;
  padding-top    : 50px;
  color          : white;
  font-size      : 12px;
  line-height    : normal;
  width          : 100%;
  height         : auto;
  margin         : 0;
  padding-bottom : 30px;
}
