<div id="page-content" class="clearfix">
  <div ng-controller="reedControllers" class="row-fluid">
    <div class="span12">
      <div class="span4">
        <h2>TechCrunch</h2>
        <hr>
        <ul class="unstyled">
          <li ng-repeat="feed1 in feeds1 | filter:filterText">
          <h5><a href="{{feed1.link}}">{{feed1.title}}</a></h5>
          <p class="text-left">{{feed1.contentSnippet}}</p>
          <span class="small">{{feed1.publishedDate}}</span>
          </li>
        </ul>
      </div>
      <div class="span4">
        <h2>Correlibre</h2>
        <hr>
        <ul class="unstyled">
          <li ng-repeat="feed2 in feeds2 | filter:filterText">
          <h5><a href="{{feed2.link}}">{{feed2.title}}</a></h5>
          <p class="text-left">{{feed2.contentSnippet}}</p>
          <span class="small">{{feed2.publishedDate}}</span>
          </li>
        </ul>
      </div>
      <div class="span4">
        <div class="widget-box">
          <div class="widget-header widget-header-flat">
            <h4>SIIM</h4>
          </div>

          <div class="widget-body">
            <div class="widget-main">
              <div class="row-fluid">
                <div class="span6">
                  <ul>
                    <li>Unordered List Item # 1</li>

                    <li>
                    <small>List Item in small tag</small>
                    </li>

                    <li>
                    <b>List Item in bold tag</b>
                    </li>

                    <li>
                    <i>List Item in italics tag</i>
                    </li>
                    <li>Unordered List Item which is a longer item and may break into more lines.</li>

                    <li>
                    <strong>List Item in strong tag</strong>
                    </li>

                    <li>
                    <em>List Item in emphasis tag</em>
                    </li>
                  </ul>
                </div>

                <div class="span6">
                  <ol>
                    <li>Ordered List Item # 1</li>
                    <li class="text-info">.text-info Ordered List Item</li>
                    <li class="text-error">.text-error Ordered List Item</li>

                    <li class="text-success">
                    <b>.text-success</b>
                    Ordered List Item
                    </li>
                    <li class="text-warning">.text-warning Ordered List Item</li>
                    <li class="muted">.muted Ordered List Item</li>
                  </ol>
                </div>
              </div>

              <hr>
              <div class="row-fluid">
                <div class="span12">
                  <ul class="unstyled spaced">
                    <li>
                    <i class="icon-bell purple"></i>
                    List with custom icons and more space
                    </li>

                    <li>
                    <i class="icon-star blue"></i>
                    Unordered List Item # 2
                    </li>

                    <li>
                    <i class="icon-remove red"></i>
                    Unordered List Item # 3
                    </li>

                    <li>
                    <i class="icon-ok green"></i>
                    Unordered List Item # 4 which is a longer item and may break into more lines.
                    </li>
                  </ul>

                  <ul class="unstyled spaced2">
                    <li>
                    <i class="icon-circle green"></i>
                    Even more space
                    </li>

                    <li class="text-warning orange">
                    <i class="icon-warning-sign"></i>
                    Unordered List Item # 5
                    </li>

                    <li class="muted">
                    <i class="icon-angle-right"></i>
                    Unordered List Item # 6
                    </li>

                    <li>
                    <ul class="inline">
                      <li>
                      <i class="icon-share-alt green"></i>
                      Inline List Item # 1
                      </li>
                      <li>List Item # 2</li>
                      <li>List Item # 3</li>
                    </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
<div class="container">
  <div id="newsletter">
    <h3>Notificaciones</h3>
    <p>Suscribete para recibir el resumen de los avances de Nuestro espectacular Software.
    </p>
    Super-powered by Google ©2010-2012 ( v1.0.6 universal-irreversibility )
    Code licensed under the The MIT License. Documentation licensed under CC BY 3.0.
    <form id="mc-embedded-subscribe-form" action="http://codetag.us4.list-manage2.com/subscribe/post?u=4a78e8d6e904b594aa6b323df&amp;id=fe939f08db" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
      <input id="mce-EMAIL" type="text" name="EMAIL" size="25" placeholder="enter your email address" required="" value="">
      <input type="submit" name="submit" value="" id="suscribe">
    </form>
    <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobi"></a>
  </div>

  <div id="contact-info">
    <ul>
      <li><a id="blog" href="http://blog.codetag.me/" target="_blank">our blog</a></li>
      <li><a id="mail" href="mailto://info@codetag.me" target="_blank">get in touch</a></li>
      <li><a id="team" href="http://blog.codetag.me/image/31821713481" target="_blank">codetag team</a></li>
    </ul>
  </div>

  <div id="social-info">
    <div id="twitter">
      <div id="tweet">
        <p></p>
        <a id="from"></a>
      </div>
      <div class="arrow"></div>
      <img alt="bot" src="/static/img/home/robotFooter.png">
    </div>
    <div id="networks">
      <h3>Follow us</h3>
      <a href="http://www.facebook.com/codetag/" target="_blank">
        <img alt="Friend us on Facebook" class="facebook-contact" src="/static/img/fbico.png">
      </a>
      <a href="http://twitter.com/codetagme/" target="_blank">
        <img alt="Follow us on Twitter" class="twitter-contact" src="/static/img/twico.png">
      </a>
    </div>
  </div>
</div>
</footer>
