footer {
  background: #ccc;
  padding-top: 50px;
  color: white;
  font-size: 12px;
  line-height: normal;
  width: 100%;
  height: auto;
  margin: 0;
  font-family: 'Conv_ProximaNova-Regular';
  padding-bottom: 30px;
}
